html,body{
	height: 100%;
}
.contian{
	width: 100%;
	height: 100%;
	background: #4C4C4C;
	opacity: 0.7;
	position: absolute;
	top: 0px;
}
.fiex{
	width: 6.39rem;
	height: 3.86rem;
	background:#FFFFFF;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	top: 2.14rem;
	margin:auto;
	z-index: 1;
}
.fiex_word1{
	width: 100%;
	height: 0.36rem;
	/*background: red;*/
	margin-top: 0.36rem;
	text-align: center;
	line-height: 0.36rem;
	font-size: 0.36rem;
	font-family: '苹方';
	color: #454545;
}
.fiex_word2{
	width: 5.58rem;
	height: 0.88rem;
	border:0.01rem solid #B8B8B8;
	margin-top: 0.62rem;
	text-indent: 0.05rem;
	margin-left: 0.4rem;
	outline: none;
	color: #A9A9A9;
}
.fiex_box{
	width: 5.6rem;
	height: 0.84rem;
	/*background: red;*/
	margin: 0 auto;;
	margin-top: 0.5rem;
}
.fiex_left{
	width: 2.68rem;
	height: 0.82rem;
	border: 1px solid #737373;
	text-align: center;
	line-height: 0.82rem;
	color: #737373;
	font-size: 0.36rem;
	float: left;
}
.fiex_right{
	width: 2.68rem;
	height: 0.82rem;
	border: 1px solid #737373;
	text-align: center;
	line-height: 0.82rem;
	color: #71D1D1D;
	font-size: 0.36rem;
	float: right;
}
header{
	width:7.02rem;
	height: 0.2rem;
	background-image: url(../img/QQ图片20170828194927.jpg);
	margin: 0.1rem auto;
	background-repeat: no-repeat;
	background-size:cover;
}
.box{
	width: 100%;
	height: 0.39rem;
	/*background:red;*/
	margin:0.3rem 0px 0.20rem 0px;
	position: relative;
}
.box .boxleft{
	width: 0.23rem;
	height: 100%;
	/*background: yellow;*/
	position: absolute;
	left: 0.42rem;
}
.boxleft a{
	position: absolute;
	font-size: 0.36rem;
	text-align: center;
	margin-left: -0.06rem;
	color: #626262;
	font-weight: 900;
}
.box .boxcenter{
	width: 1.44rem;
	height: 0.36rem;
	/*background: yellow;*/
	position: absolute;
	top: 0rem;
	left: 0;
	right: 0;
	margin: auto;
	line-height: 0.36rem;
	font-size: 0.36rem;
	font-family: 'c';
}
.box .boxcenter a{
	color: #1D1D1D;
}
.box1{
	width: 100%;
	height: 1.16rem;
	/*background: red;*/
	position: relative;
}
.box1left{
	width: 0.72rem;
	height: 100%;
	/*background: yellow;*/
	position: absolute;
	text-align: center;
	line-height: 1.16rem;
	font-family: '苹方';
	left: 0.42rem;
	font-size: 0.36rem;
}
.box1left a{
	color: #626262;
}
.box1right{
	width: 1.16rem;
	height: 100%;
	/*background: yellow;*/
	border-radius: 50%;
	position: absolute;
	right: 0.42rem;
	background-image: url(../img/188c3411786021.560fd48f5364e.png);
	background-size: cover;
	background-repeat: no-repeat;
}
hr{
	width: 100%;
	height: 0.02rem;
	background: #E8E8E8;
	margin-top: 0.2rem;
	margin-bottom: 0.23rem;
	border: none;
}
.box2{
	width: 6.66rem;
	height: 0.96rem;
	/*background: red;*/
	position: relative;
	border-top: 0.02rem solid #B8B8B8;
	border-bottom: 0.02rem solid #B8B8B8;
	top: 0.2rem;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.box2left{
	width: 0.72rem;
	height: 100%;
	/*background: yellow;*/
	position: absolute;
	left:0;
	font-size: 0.3rem;
	line-height: 0.96rem;
	text-align: center;
	font-family: '苹方';
}
.box2left a{
	color: #626262;
}
.box2right{
	width: 1.44rem;
	height: 100%;
	/*background: yellow;*/
	line-height: 0.96rem;
	text-align: center;
	font-size: 0.36rem;
	font-family: '苹方';
	position: absolute;
	right: 0;
}
.box2right a{
	color: #9B9B9B;
}
.box3{
	width: 6.66rem;
	height: 0.96rem;
	/*background: red;*/
	position: relative;
	border-bottom: 0.02rem solid #B8B8B8;
	top: 0.2rem;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.box3right{
	width: 2.28rem;
	height: 100%;
	/*background: yellow;*/
	line-height: 0.96rem;
	text-align: center;
	font-size: 0.36rem;
	font-family: '苹方';
	position: absolute;
	right: 0;
}
.box3right a{
	color: #9B9B9B;
}

